<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="empresa_x.studio.com.superevents">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".repositorio.FirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_principal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_redondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".autenticacao.CadastroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".autenticacao.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".InicioActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>